@use "@app/Foundations/theme/colors";
@use "@app/Foundations/theme/spacing";

.dropdownRadioButton {
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  min-width: 18px;
  border-radius: spacing.gap(gap-12);
  border: 1px solid colors.palette(gray, 100);
  transition: all 150ms ease-in-out;

  &.isSelected {
    border: 5px solid colors.palette(primary, 500);
  }

  &.isDisabled {
    opacity: 50%;
  }
}
