@use "@app/Foundations/theme/colors";
@use "@app/Foundations/theme/spacing";

.notificationMessageStoryWrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .body {
    min-height: 300px;
    margin: spacing.gap(gap-5) 0;
  }

  .headerFooter {
    width: 100%;
    height: 60px;
    background-color: colors.palette(primary, 500);
  }
}
